:root {
    --primary-blue: #2196F3;
    --dark-grey: #2F303A;
    --text-main: #212121;
    --text-grey: #757575;
    --white: #FFFFFF;
    --bg-light: #F5F4FA;
    --border-grey: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-main);
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.hero {
    height: 200px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.section.no-padding-top {
    padding-top: 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
}

.accent {
    color: var(--primary-blue);
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding: 32px 0;
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link.current {
    color: var(--primary-blue);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--primary-blue);
    border-radius: 2px;
}

.contacts {
    display: flex;
    gap: 50px;
}

.contact-link {
    color: var(--text-grey);
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s;
}

.contact-link:hover {
    color: var(--primary-blue);
}

.hero {
    background-color: #2F303A;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('images/emptyTitle.png');
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: var(--primary-blue);
    color: white;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #188CE8;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text);
    margin-bottom: 12px;
    margin-top: 0;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
    color: var(--primary-blue);
}

.form-field {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-field span {
    display: block;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--grey-text);
    margin-bottom: 4px;
    font-weight: 400;
}

.input {
    width: 90%;
    height: 40px;
    border: 1px solid color(gray);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
}

.input:focus {
    border-color: var(--primary-blue);
}

input[type="text"].input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 9c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
}

input[type="tel"].input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M3.62 7.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V17c0 .55-.45 1-1 1C7.48 18 0 10.52 0 1c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
}

input[type="email"].input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M16 2H2C.9 2 0 2.9 0 4v10c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 4l-7 4.5L2 6V4l7 4.5L16 4v2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
}

textarea.input {
    width: 93%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    background-image: none;
    border: 1px solid color(gray);
}

textarea.input::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
}

.checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--grey-text);
}

.checkbox-field input[type="checkbox"] {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
}

.checkbox-field a {
    color: var(--primary-blue);
    text-decoration: underline;
    margin-left: 4px;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: var(--primary-blue);
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover {
    background-color: #188CE8;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.features-list {
    display: flex;
    gap: 30px;
}

.feature-icon-box {
    background: var(--bg-light);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.feature-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-text {
    font-size: 14px;
    color: var(--text-grey);
    line-height: 1.7;
}

.works-section {
    padding: 0 0 94px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--text-dark);
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work-item {
    position: relative;
    overflow: hidden;
    height: 294px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.work-item:hover .work-overlay {
    transform: translateY(0);
}

.work-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.work-overlay span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.team-section {
    background-color: #F5F4FA;
    padding: 94px 0;
    margin-top: 94px;
}

.team-member {
    background-color: var(--white);
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.team-member {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.team-member img {
    display: block;
    width: 100%;
    height: 235px;
}

.member-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

.member-role {
    font-size: 16px;
    margin-bottom: 16px;
    color: #757575;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
/*
ттстстттттттссввсттттттттттуууууууууууууттттттттттттттттеееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееее
*/
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
}

.social-link img {
    width: 15px;
    height: 18px;
    transition: filter 0.3s ease;
}

.social-link:hover img {
    filter: brightness(0) invert(1);
}

.clients-list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.client-item {
    width: 170px;
    height: 92px;
    border: 3px solid #AFB1B8;
    color: #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s;
}

.client-item:hover {
    border-color: #2196F3;
}

.client-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    margin-top: 94px;
}

.filter-btn {
    padding: 6px 22px;
    border: none;
    background: var(--bg-light);
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background: var(--primary-blue);
    color: var(--white);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 94px;
}

.project-item {
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;
    background: #ffffff;
}

.project-item img {
    display: block;
    width: 100%;
    height: auto;
}

.project-item {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-meta {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 0 0 4px 0;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    margin: 0;
}

.footer {
    background: var(--dark-grey);
    padding: 60px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    color: var(--white);
    margin-bottom: 20px;
    display: inline-block;
}

.white-text {
    color: var(--white);
    font-style: normal;
    font-size: 14px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: var(--primary-blue);
}

.address-list li {
    margin-bottom: 9px;
}

.footer-socials {
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
}

.social-links {
    display: flex;
    gap: 10px;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.footer-social-icon img {
    filter: brightness(0) invert(1);
    opacity: 0.6;
    width: 14px;
    height: 18px;
    transition: opacity 0.3s ease;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #2196F3;
}

.footer-social-icon:hover img {
    opacity: 1;
}

.footer-subscribe {
    margin-left: 750px;
    margin-top: -140px;
}

.subscribe-form {
    display: flex;
    align-items: center;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff;
    outline: none;
    margin-right: 12px;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 28px;
}

.subscribe-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
